<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.carpooling.registration.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <display-name>registration</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>com.carpooling.registration.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>post</display-name>
    <servlet-name>post</servlet-name>
    <servlet-class>com.carpooling.registration.post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login1Servlet</display-name>
    <servlet-name>Login1Servlet</servlet-name>
    <servlet-class>com.carpooling.registration.Login1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1Servlet</servlet-name>
    <url-pattern>/Login1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RidesServlet</display-name>
    <servlet-name>RidesServlet</servlet-name>
    <servlet-class>com.carpooling.registration.RidesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RidesServlet</servlet-name>
    <url-pattern>/RidesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RiderServlet1</display-name>
    <servlet-name>RiderServlet1</servlet-name>
    <servlet-class>RiderServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiderServlet1</servlet-name>
    <url-pattern>/RiderServlet1</url-pattern>
  </servlet-mapping>
</web-app>